<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script> 
</script>

<link rel="stylesheet" type="text/css" href="../myCSS.css">

</head>
<body>

<div class="header">
  <h1>Rockers Resource - Music Info Website</h1>
</div>
<div class = "menu">
  <ul>
    <li><a href ="/">Home</a></li>
    <li><a href ="/logout">Logout</a></li>
    <li>You are logged in as {{user}}</li>
  </ul>
</div>


<div class="row">

  <div class="col-6 col-s-9">
    
    <p>Summary Info (courtesy of discogs)</p>
    <p>Album title: {{ title }}</p>
    <p>Artist: {{ artist }}</p>
    <p>Genre:</p>
    <ul style="list-style-type:none">
      {% for genre in genres %}
      <li>{{genre}}</li>
      {% endfor %}
    </ul>
    <br>
    <p>Tracklist</p>
    
    <ul style="list-style-type:none">
      {% for track in tracklist %}
      <li>{{track}}</li>
      {% endfor %}
    </ul>
    <p><b>Summary (courtesy of wikipedia)</b></p>
    <p>{{ summary }}</p>
  </div>

</div>

<div class="footer">
  <p>Web layout adapted from <a href = "https://www.w3schools.com/css/css_rwd_intro.asp" target="_blank">w3Schools.com</a></p>
  <p>Designed for Web Applications Project, Spring 2019 and repurposed for Data Representaion Big Project, Autumn 2019</p>
</div>

</body>

<script>

</script>

</html>